* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 150%;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  width: 100%;
  text-align: left;
}

/* --- header --- */
#header
{
  background: #eee;
  padding: 20px;
  width: 90%;
  text-align: left;
  margin-left: auto ;
  margin-right: auto ;
}

/* --- navigation menu --- */
#navigation
{
  background: #fff;
  width: 90%;
  text-align: left;
  margin-left: auto ;
  margin-right: auto ;
}
#navigation ul
{
	margin: 0;
	padding: 0;
}
#navigation ul li
{
	list-style-type: none;
	display: inline;
}
#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: orange;
	text-decoration: none;
	border-right: 1px solid #ccc;
}
#navigation li a:hover { background: #eee; }

/* --- content area --- */
#content
{
  width: 90%;
  text-align: left;
  margin-left: auto ;
  margin-right: auto ;
}

/* --- footer --- */
#footer {
  border-top: 1px dotted #ccc;
  width: 90%;
  background-color: #fff;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.push {
  height: 4em;
  clear: both;
}

h1 {
  color:orange;
  padding: 10px;
}

h2 {
  margin-top: 10px;
}

p {
  padding: 10px;
}

pre {
    background-color: #f5f5f5;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-family: Courier, monospace;
    line-height: 120%;
    border-left: solid #d0d0d0 0.5em;
}

div.spacer { clear: both; margin-top: 20px; margin-bottom: 20px;}

a:link {color:orange;}      /* unvisited link */
a:visited {color:orange;}   /* visited link */
a:hover {color:orange;}     /* mouse over link */
a:active {color:orange;}    /* selected link */

.dir-listing-d {
    font-weight:bold
}

.dir-listing-f {
}

/* fix for firefox links' dotted border */
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }
