* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  width: 900px;
  text-align: left;
}

/* --- header --- */
#header
{
  background: #eee;
  padding: 20px;
}

/* --- navigation menu --- */
#navigation
{
	float: left;
	width: 900px;
	background: #fff;
}
#navigation ul
{
	margin: 0;
	padding: 0;
}
#navigation ul li
{
	list-style-type: none;
	display: inline;
}
#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: orange;
	text-decoration: none;
	border-right: 1px solid #ccc;
}
#navigation li a:hover { background: #eee; }

/* --- content area --- */
#content-container
{
	float: left;
	width: 900px;
	background: #fff;
}

#content
{
	clear: left;
	float: left;
	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}
#aside
{
	float: right;
	width: 240px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

/* --- footer --- */
.footer {
  background: #fff;
  text-align: right;
}

.footer, .push {
  height: 4em;
  clear: both;
}

div#footer-content {
  width: 900px;
  margin: 0px auto;
  padding: 20px;
  text-align: right;
  background-color: #eee;
}

h1 {
  color:orange;
  padding: 10px;
}

p {
  padding: 10px;
}

pre {
  background: #eeeeee;
  border: 1px solid #808080;
  padding: 10px;
}

a:link {color:orange;}      /* unvisited link */
a:visited {color:orange;}   /* visited link */
a:hover {color:orange;}     /* mouse over link */
a:active {color:orange;}    /* selected link */

.dir-listing-d {
    font-weight:bold
}

.dir-listing-f {
}

/* fix for firefox links' dotted border */
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }
