
		</div>
	</div>
 
</body>

<script type="text/javascript">
function path()
{
  var args = arguments,
      result = []
      ;
       
  for(var i = 0; i < args.length; i++)
      result.push(args[i].replace('@', '/xite/js/sh/'));
       
  return result
};
 
SyntaxHighlighter.autoloader.apply(null, path(
  'bash shell             @shBrushBash.js',
  'css                    @shBrushCss.js',
  'diff patch pas         @shBrushDiff.js',
  'groovy                 @shBrushGroovy.js',
  'java                   @shBrushJava.js',
  'js jscript javascript  @shBrushJScript.js',
  'php                    @shBrushPhp.js',
  'text plain             @shBrushPlain.js',
  'py python              @shBrushPython.js',
  'sql                    @shBrushSql.js',
  'xml xhtml xslt html    @shBrushXml.js'
));
SyntaxHighlighter.all();
</script>

</html>
