<html>
<head>
<link href="/xite/css/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header">
<a href="/xite/index.html">Xite</a> static site generator
</div>

<div id="container">

<div id="left-col">
<p/>

<b>Getting started</b><br/>
<ul>
<li><a href="/xite/installation.html">installation</a></li>
<li><a href="/xite/usage.html">usage</a></li>
<li><a href="/xite/plugins.html">plugins</a></li>
<li><a href="/xite/deployment.html">deployment</a></li>
<li><a href="/xite/configuration.html">configuration</a></li>
<li><a href="/xite/code/">browse the source code</a></li>
</ul>

<b>How tos</b><br/>
<ul>
<li><a href="/xite/build-your-site-for-xite.html">build-your-site-for-xite</a></li>
<li><a href="/xite/code-highlighting.html">code highlighting</a></li>
<li><a href="/xite/software-projects.html">xite for software projects</a></li>
</ul>

<b>Project informations</b><br/>
<ul>
<li><a href="/xite/faq.html">faq</a></li>
<li><a href="/xite/license.html">license</a></li>
</ul>

</div>

<div id="content">
