<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/xite/js/sh_main.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/xite/css/sh_nedit.min.css">
    <link href="/xite/css/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body onload="sh_highlightDocument('/xite/js/lang/', '.min.js');">


 <div class="wrapper">
    <div id="header">
      <b><a href="/xite/index.html">Xite</a></b> static site generator
    </div>
	<div id="navigation">

        <ul>
        <li><a href="/xite/faq.html">faq</a></li>
        <li><a href="http://github.com/enr/xite/downloads">downloads</a></li>
        <li><a href="/xite/license.html">license</a></li>
        </ul>

	</div> <!-- / navigation -->
	<div id="content-container">
		<div id="content">  <!-- end of header template -->
